.dropdown__list {
  background-color: dodgerblue;
  height: 48px;
}
select {
  margin-left: 20%;
  margin-top: 10px;
  border-width: 0;
  height: 30px;
  width: 200px;
}
input {
  height: 24px;
  margin-left: 200px;
}
